@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* =====================  styles applied to icons.svg ===================== */
.gmail-solid {
  --color-0: #4285f4;
  --color-1: #34a853;
  --color-2: #fbbc04;
  --color-3: #ea4335;
  --color-4: #c5221f;
}

.facebook-solid {
  --color-0: #1977f3;
  --color-1: #fff;
}
.github-solid {
  --color-0: #1b1f23;
}

.twitter-solid {
  --color-0: #1d9bf0;
}
.linkedin-solid {
  --color-0: #007ebb;
  --color-1: #ffffff;
}
.pinterest-solid {
  --color-0: #bd081c;
}
